# Django Settings
SECRET_KEY=django-insecure-_5qqm(#xd6&+mmxr7-mk$=1^ak(&i**9pj7b%w-_n%+7nlwth$
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1


# Email Configuration (if needed for production)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your-email@gmail.com
EMAIL_HOST_PASSWORD=your-app-password


